body {
  font-family: Consolas,'Andale Mono','Lucida Console','DejaVu Sans Mono',monospace;
  color: #fff;
  background-color: #000;
  h1 {
    font-weight: normal;
  }
}
#editor {
  width: 100em;
  height: 30em;
  font-size: 14px;
}

.compiler-error {
  color: #900;
}

.runtime-error {
  color: #990;
}

.box {
  font-size: 20px;
  line-height: 0.6em;
  color: #ABF;
}

.success {
  color: #090;
}

#github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
