{{> header }}

<h1>Grid Puzzle</h1>
{{#message}}<p>{{.}}</p>{{/message}}

{{#compiler_error}}
<h2>Compiler Error</h2>
<p class="compiler-error">{{.}}</p>
{{/compiler_error}}

{{#runtime_error}}
<p class="runtime-error">{{.}}</p>
<p>{{dimensions}}</p>
<pre class="box">
{{box}}
</pre>
{{/runtime_error}}

{{#success}}
<p class="success">{{.}}</p>
{{/success}}

<pre>
using System;
using System.Collections.Generic;

public class TestShapeFinder : IShapeFinder {
  public Shape Recognize(IGrid grid) {
</pre>
<div id="editor">{{snippet}}</div>
<pre>
  }
}
<form method="post">
  <textarea name="code_block">{{snippet}}</textarea>
  <button type="submit">Run</button>
</form>

{{> footer }}
