<!DOCTYPE html>
<html>
<head>
  <title>{{page_title}}</title>
  <meta charset="utf-8" />
  <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css' />
  <style>
    {{css}}
  </style>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/js/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/app.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<a id="github-ribbon" href="https://github.com/MountainCode/GridPuzzle"><img src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
